<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Urban Crowdsource</h1>
        <h3>Designing Our Cities Together</h3>
        <br>
        <a href="#call-to-action" class="btn btn-dark btn-lg">Get Started</a>
    </div>
</header>


<!--<% if user_signed_in? %>
    <%= link_to "Logout" , destroy_user_session_path, :method => 'DELETE' %>
    <% else %>
    <%= link_to "Sign in" , new_user_session_path  %> 
    <%= link_to "Sign up" , new_user_registration_path %> 
<%end%> -->

<!-- About -->
<section id="about" class="about">
    <div class="text-center">
        <h1>How Urban Crowdsourcing Works</h1>
        <hr class="small">
        <div class="container-main">
            <p>It's a simple concept. We are putting the future of your city into your hands. In under 30 seconds, you can create a new <a href="/suggestions">Suggestion</a> describing an idea you would like to see implemented in your city. Your idea will be submitted to our online community who will help evaluate and build on your idea. Then your idea will be submitted to your local urban planners. Your city's future is really yours to create. </p>
        </div>
    </div>
</section>

<!-- Lastest Suggestions -->
<section id="latest-suggestions" class="latest-suggestions bg-primary">
    <div class="container-main">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h1>Latest Suggestions</h1>
                <hr class="small">
                <div class="row">
                <%if Suggestion.all[-1] != nil%>
                    <div class="col-md-3 col-sm-6">
                        <div class="suggestions-item">
                            <h4>
                                <strong><%= Suggestion.all[-1][:overview].titlecase %></strong>
                            </h4>
                            <p><%= Suggestion.all[-1][:description] %></p>
                            <a href="/suggestions/<%= Suggestion.all[-1][:id] %>" class="btn btn-light">Read More</a>  
                        </div>
                    </div>
                <%end%>
                <%if Suggestion.all[-2] != nil%>
                    <div class="col-md-3 col-sm-6">
                        <div class="suggestions-item">
                            <h4>
                                <strong><%= Suggestion.all[-2][:overview].titlecase %></strong>
                            </h4>
                            <p><%= Suggestion.all[-2][:description] %></p>
                            <a href="/suggestions/<%= Suggestion.all[-2][:id] %>" class="btn btn-light">Read More</a>  
                        </div>
                    </div>
                <%end%>
                <%if Suggestion.all[-3] != nil%>
                    <div class="col-md-3 col-sm-6">
                        <div class="suggestions-item">
                            <h4>
                                <strong><%= Suggestion.all[-3][:overview].titlecase %></strong>
                            </h4>
                            <p><%= Suggestion.all[-3][:description] %></p>
                            <a href="/suggestions/<%= Suggestion.all[-3][:id] %>" class="btn btn-light">Read More</a>  
                        </div>
                    </div>
                <%end%>
                <%if Suggestion.all[-4] != nil%>
                    <div class="col-md-3 col-sm-6">
                        <div class="suggestions-item">
                            <h4>
                                <strong><%= Suggestion.all[-4][:overview].titlecase %></strong>
                            </h4>
                            <p><%= Suggestion.all[-4][:description] %></p>
                            <a href="/suggestions/<%= Suggestion.all[-4][:id] %>" class="btn btn-light">Read More</a>  
                        </div>
                    </div>
                <%end%>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-main -->
</section>

<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center">
        <h1><i>Your city. Your plans.</i></h1>
        <br/>
        <div class="container-main">
        </div>
    </div>
</aside>


<!-- Our Team -->
<section id="our-team" class="our-team">
    <div class="container-main">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Crowdsourcing in Capetown</h2>
                <hr class="small">
                    <div class="videoWrapper">
                      <iframe width="853" height="480" src="https://www.youtube.com/embed/HlPpcx7Pg0M" frameborder="0" allowfullscreen></iframe>
                    </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-main -->
</section>

<!-- Call to Action -->
<section id="call-to-action" class="call-to-action bg-primary">
    <div class="container-main">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <% if user_signed_in? %>
                        <h1>Create a New Suggestion</h1>
                        <hr class="small">
                        <a href="/suggestions/new" class="btn btn-lg btn-dark">New Suggestion</a>

                    <% else %>
                        <h1>Create a New Suggestion</h1>
                        <hr class="small">
                        <a href="/users/sign_in" class="btn btn-lg btn-dark">Log In</a>
                        <a href="/users/sign_up" class="btn btn-lg btn-dark">Sign Up</a>
                    <% end %>
                </div>
            </div>
        </div>
</section>





<!-- Map -->
<section id="contact" class="map">
    <div class="text-center">
        <h1>Current Suggestions</h1>
        <hr class="small">
    </div>
    <div id='maap'>
        <script type="text/javascript">
            function getScrollBarWidth () {
        var $outer = $('<div>').css({visibility: 'hidden', width: 100, overflow: 'scroll'}).appendTo('body'),
            widthWithScroll = $('<div>').css({width: '100%'}).appendTo($outer).outerWidth();
        $outer.remove();
        return 100 - widthWithScroll;
    };
                $('#maap').css('width', window.innerWidth-getScrollBarWidth());
                $('#maap').css('height', window.innerHeight*.6);
        </script>
          <div id="map" style='width: 800px; height: 450px;'></div>
          <script type="text/javascript">
                $('#map').css('width', window.innerWidth-getScrollBarWidth());
                $('#map').css('height', window.innerHeight*.6);
            </script>
          <script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
          <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
    </div>

    <script type="text/javascript">
        go();
    window.addEventListener('resize', go);

    function go(){
        $('#maap').css('width', window.innerWidth-getScrollBarWidth());
        $('#map').css('width', window.innerWidth-getScrollBarWidth());
      
    }
    </script>

    <script type="text/javascript">
    handler = Gmaps.build('Google');

     handler.buildMap({ provider: {scrollwheel: false}, internal: {id: 'map'}}, function() {
      markers = handler.addMarkers(<%=raw(@suggestion_pins.to_json)%>);

      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
    </script>
</section>