<header id="top" class="section bg-primary">
    <div class="container">
        <div class="row text-center">
            <h1>Hello, <%= @user.first_name %></h1>
        </div>
    </div>
</header>

<div class="container">
	<div class="row">
		<div class="span4">
			<h1>Your Account Info</h1>
			<div id="profile">
				<div><strong>Name:</strong> <%= @user.first_name %> <%= @user.last_name %></div>
				<div><strong>Age:</strong> <%= @user.age %></div>
				<div><strong>Occupation:</strong> <%= @user.occupation %></div>
				<div><strong>Gender:</strong> <%= @user.gender %></div>
			</div>
		</div>
		
		<br/>
		<%= link_to 'Edit Account Details', edit_user_registration_path %>
		
		<div class="span 8">
			<h1>Your Suggestions</h1>
			<div id="user_suggestions">
			<% @suggestions.each do |suggestion| %>
					<h3><%= link_to suggestion.overview, suggestion_path(suggestion) %></h3><br/>
					<strong>Location:</strong> <%= suggestion.location %><br/>
					<strong>Description:</strong> <%= suggestion.description %><br/><br/>
					<strong>Comments:</strong><br/>
					<% suggestion.comments.each do |comment|%>
					<%= comment.user.first_name %>: <%= comment.text %><br/>
					<i>		<%= time_ago_in_words(comment.created_at) %> ago</i> 
					<br/>
					<%end%>
					<br/>
			<% end %>
			<br/>
		</div>
	</div>
</div>	