<% if params[:action] == 'show' %>
	<h3><%= suggestion.overview.titlecase %></h3>
<% else %>
	<h3><%=link_to suggestion.overview.titlecase, suggestion_path(suggestion)%></h3>
<% end %>




<strong>Submitted By:</strong> <%= link_to suggestion.user.first_name , user_path(suggestion.user.id) %><br/>
<strong>Proposed Location:</strong> <%= suggestion.location %><br/>
<strong>Description:</strong> <%= suggestion.description %>

<% if suggestion.sug_img_updated_at!=nil%>
<br/><br/>
<strong>Image:</strong><br/><%= image_tag suggestion.sug_img.url(:medium) %>
<%end%>
<br/><br/>

<%if !suggestion.comments.empty?%>
<strong>Comments:</strong><br/>

	<% suggestion.comments.each do |comment|%>
	<%= comment.user.first_name %>: <%= comment.text %><br/>
	<i>		<%= time_ago_in_words(comment.created_at) %> ago</i> 
	<br/>
	<%end%>
<%end%>
<%= link_to "Add comment..." , new_suggestion_comment_path(suggestion) %>

<br/><br/>

