<% if params[:action] == 'show' %>
	<h3><%= suggestion.overview.titlecase %></h3>
<% else %>
	<h3><%=link_to suggestion.overview.titlecase, suggestion_path(suggestion)%></h3>
<% end %>

<strong>Suggested By:</strong> <%= link_to suggestion.user.first_name , user_path(suggestion.user.id) %><br/>
<strong>Proposed Location:</strong> <%= suggestion.location %><br/>
<strong>Description:</strong> <%= suggestion.description %><br/><br/>
<strong>Comments:</strong><br/>

	<% suggestion.comments.each do |comment|%>
	<%= comment.user.first_name %>: <%= comment.text %><br/>
	<i>		<%= time_ago_in_words(comment.created_at) %> ago</i> 
	<br/>
	<%end%>
<%= link_to "Add comment here..." , new_suggestion_comment_path(suggestion) %>
<br/>
