<h1><%= suggestion.overview %></h1>


Suggested by: <%= link_to suggestion.user.first_name , user_path(suggestion.user.id) %><br/>
Location: <%= suggestion.location %><br/>
Description: <%= suggestion.description %><br/>

<%if params[:id]==nil%>
<%=link_to "See details" , suggestion_path(suggestion)%>
<%end%>


<br/>
Replies: 

<%= link_to "New Comment" , new_suggestion_comment_path(suggestion) %>
<% suggestion.comments.each do |comment|%>
<br/>
<%= comment.text %>
<%end%>