<h1>Suggestion <%= @suggestion.id %></h1>

Overview: <%= @suggestion.overview %><br/>
First Name: <%= @suggestion.user.first_name %><br/>
Location: <%= @suggestion.location %><br/>
Description: <%= @suggestion.description %><br/>