<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Urban Crowdsource</title>
=======
 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>


  <title>UrbanCrowdsourcing</title>
>>>>>>> 690b7b38eb4801dacb571123fa04b488362ca470
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
	<%= yield %>


<br/>

<footer>Copyright Urban Crowdsource 2015</footer>
</div>

</body>
</html>
