<!DOCTYPE html>

<%if !(current_user.try(:admin?))%>
  	<%suggestion_collection = Suggestion.all.where(:approved => true)%>
<%end%>
	
<html lang="en">

	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">


	    <!-- Custom CSS -->
	    <link href="/assets/application.scss" rel="stylesheet">

	    <!-- Custom Fonts -->
	    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	  
	  	<title>Urban Crowdsource</title>

		<!--<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag 'bootstrap.in', media: 'all', 'data-turbolinks-track' => true %> -->
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
		<%= csrf_meta_tags %>

	</head>


		<!-- Log In and Out Code -->
<!-- 	<% if user_signed_in? %>
			<%= link_to "Logout" , destroy_user_session_path, :method => 'DELETE' %>
			<% else %>
			<%= link_to "Sign in" , new_user_session_path  %> 
			<%= link_to "Sign up" , new_user_registration_path %> 
		<%end%> -->

	<body>
		
		<% if notice %>
			<div class="alerter">
				<p ><%= notice %></p>
			  	<p ><%= alert %></p>
			</div>
	  	<% end %>

	    <!-- Navigation Bar -->
	    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
	    <nav id="sidebar-wrapper">
	        <ul class="sidebar-nav">
	            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
	            <li class="sidebar-brand">
	                <a href="/"  onclick = $("#menu-close").click(); >Urban Crowdsource</a>
	            </li>
	            <li>
	                <a href="/" onclick = $("#menu-close").click(); >Home</a>
	            </li>
	           	<li>
	                <a href="/suggestions" onclick = $("#menu-close").click(); >Suggestions</a>
	            </li>
	            <%if user_signed_in?%>
		            <li>
		                <a href="<%= user_path current_user.id %>" onclick = $("#menu-close").click(); >Your Account</a>
		            </li>
		            <li>
		                <%= link_to "Logout" , destroy_user_session_path, :method => 'DELETE' %>
		            </li>
		        <% else %>
		        	<li>
		                <a href="/users/sign_in" onclick = $("#menu-close").click(); >Log In</a>
		            </li>
	            <%end%>
	        </ul>
	    </nav>
		

		<%= yield %> 


	    <!-- Footer -->
	    <footer>
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-10 col-lg-offset-1 text-center">
	                    <h4><strong>Urban Crowdsource</strong>
	                    </h4>
	                    <p>1234 Harrington Street<br>Cape Town, Western Cape</p>
	                    <ul class="list-unstyled">
	                        <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
	                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:urbancrowdsource@gmail.com">urbancrowdsource@gmail.com</a>
	                        </li>
	                    </ul>
	                    <br>
	                    <ul class="list-inline">
	                        <li>
	                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
	                        </li>
	                        <li>
	                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
	                        </li>
	                        <li>
	                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
	                        </li>
	                    </ul>
	                    <hr class="small">
	                    <p class="text-muted">Copyright &copy; Urban Crowdsource 2015</p>
	                </div>
	            </div>
	        </div>
	    </footer>

	    <!-- Custom Theme JavaScript -->
	    <script>
	    // Closes the sidebar menu
	    $("#menu-close").click(function(e) {
	        e.preventDefault();
	        $("#sidebar-wrapper").toggleClass("active");
	    });

	    // Opens the sidebar menu
	    $("#menu-toggle").click(function(e) {
	        e.preventDefault();
	        $("#sidebar-wrapper").toggleClass("active");
	    });

	    // Scrolls to the selected menu item on the page
	    $(function() {
	        $('a[href*=#]:not([href=#])').click(function() {
	            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

	                var target = $(this.hash);
	                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
	                if (target.length) {
	                    $('html,body').animate({
	                        scrollTop: target.offset().top
	                    }, 1000);
	                    return false;
	                }
	            }
	        });
	    });
	    //Resizes youtube video as page changes size
	    $(document).ready(function() {
		  if(typeof YOUTUBE_VIDEO_MARGIN == 'undefined') {
		    YOUTUBE_VIDEO_MARGIN=10;
		  }
		  $('iframe').each(function(index,item) {
		    if($(item).attr('src').match(/(https?:)?\/\/www\.youtube\.com/)) {
		      var w=$(item).attr('width');
		      var h=$(item).attr('height');
		      var ar = h/w*100;
		      ar=ar.toFixed(2);
		      //Style iframe    
		      $(item).css('position','absolute');
		      $(item).css('top','0');
		      $(item).css('left','0');    
		      $(item).css('width','100%');
		      $(item).css('height','100%');
		      $(item).css('max-width',w+'px');
		      $(item).css('max-height', h+'px');        
		      $(item).wrap('<div style="max-width:'+w+'px;margin:0 auto; padding:'+YOUTUBE_VIDEO_MARGIN+'px;" />');
		      $(item).wrap('<div style="position: relative;padding-bottom: '+ar+'%; height: 0; overflow: hidden;" />');
		    }
		  });
		});
	    </script>
	</body>
</html>
 